@inject HttpClient client


@if (Order != null)
{
    if (Displayed && customer != null)
    {
        <h1>Order: @Order.OrderID - @Order.OrderDate.ToShortDateString()</h1>

        <h2>Buyer: @customer.FirstName @customer.LastName</h2>
    }

    <div class="row">
        <div class="col-10">
            <EditForm Model="Order" OnValidSubmit="PushOrder">
                <DataAnnotationsValidator />

                <div class="col-5">
                    <InputSelect class="form-control" @bind-Value="@Order.TypeOfDelivery">
                        @foreach (var item in Enum.GetValues(typeof(DeliveryType)))
                            {
                            <option value="@item">@item</option>
                            }
                    </InputSelect>
                </div>
                <div class="col-5">
                    <InputSelect class="form-control" @bind-Value="@Order.TypeOfPayment">
                        @foreach (var item in Enum.GetValues(typeof(PaymentType)))
                            {
                            <option value="@item">@item</option>
                            }
                    </InputSelect>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Checkout</button>
                </div>
            </EditForm>
        </div>
        <div class="col-2" />
    </div>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Total Price</th>
            </tr>
        </thead>
        @if (Order.Products != null && Order.Products.Count > 0)
        {
            foreach (ICartProductBase product in Order.Products)
            {
                <CartProductView CartProduct="product" ReadOnly="Displayed"></CartProductView>
            }
        }
        else
        {
            <p>No Products in Cart!</p>
        }
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public IEditableOrder Order { get; set; } = null;

    [Parameter]
    public bool Displayed { get; set; } = false;


    private ICompactCustomerInfo customer = null;

    protected async override Task OnInitializedAsync()
    {
        if (Displayed)
        {
            customer = await client.GetFromJsonAsync<CustomerBase>($"Http://localhost:4020/Controller/Customers/GetBy/ID/{Order.CustomerID}");
        }

        StateHasChanged();
    }

    public void PushOrder()
    {
        client.PostAsJsonAsync<OrderDisplay>("/Controller/Orders/Add", ( OrderDisplay )Order);
    }
}
