@page "{searchString?}";
@model IndexModel
@{
    ViewData["Title"] = "Front page";
}

<div class="container text-center">
    <form method="post" asp-page-handler="PerformSearch">
        <div class="row">
            <div class="col-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Order by:</span>
                        <select asp-for="OrderByEnum" class="form-control col-7" asp-items="Html.GetEnumSelectList<Oiski.School.Webshop_H3_2021.Servicelayer.Extensions.OrderBy>()">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Descending:</span>
                    </div>
                    <div class="form-control col-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="DescendingCheckbox" name="DescendingCheckbox" value="false">
                            <input name="DescendingCheckbox" type="hidden" value="true" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <input type="search" asp-for="SearchString" class="form-control rounded" placeholder="Search" />
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row m-auto">
        <ul class="pagination">
            @for (int i = 1; i <= Model.FilterPageOptions.TotalPages; i++)
            {
                <li class="page-item @(i == Model.FilterPageOptions.CurrentPage ? "active" : "")">
                    <a asp-page=""
                       asp-route-currentPage="@i"
                       asp-route-searchString="@Model.SearchString"
                       asp-route-pageSize="@Model.FilterPageOptions.PageSize"
                       class="page-link">@i</a>
                </li>
            }
        </ul>
    </div>
    <div class="row m-auto">
        @foreach (var product in Model.Products)
        {
            <div class="card border col-4">
                <form method="post" asp-page-handler="AddToCart">
                    <input type="hidden" asp-for="@product.ProductID" />
                    <img class="card-img-top" src="@("Images/" + product.ProductImages.First().ImageURL)" alt="@product.Title" />
                    <div class="card-body">
                        <div>
                            <h3>@product.Title</h3>
                            <br />
                            <p class="border">@product.Description</p>
                            <br />
                            <p><b>#</b>&nbsp;<a asp-page="/FrontPage" asp-route-id="@product.BrandName">@product.BrandName</a> | Price: <b>$</b>@product.Price</p>
                            @Component.InvokeAsync("ProductsInStock", product.ProductID).Result
                        </div>
                    </div>
                    <div class="card-footer">
                        @if (Model.LoginService.UserIsAdmin())
                        {
                            <a asp-page="/ProductCRUD/Edit" asp-route-productID="@product.ProductID" class="btn btn-success">Edit</a>
                            <a asp-page="/ProductCRUD/Details" asp-route-productID="@product.ProductID" class="btn btn-warning">Details</a>
                            <a asp-page="/ProductCRUD/Delete" asp-route-productID="@product.ProductID" class="btn btn-danger">Delete</a>
                        }
                        else
                        {
                            <button type="submit" name="productID" value="@product.ProductID" class="btn btn-success">Add to cart</button>
                        }
                    </div>
                </form>
            </div>
        }
    </div>


</div>