@using System.Linq;
@model Oiski.School.Webshop_H3_2021.Servicelayer.ProductDTO;
@{
}

<div class="border col-4">
    <card>
        <div class="card-body text-center">
            <img class="card-img-top" src="/Images/Clothes/Bottoms/High-Waisted-Jeans-Front.jpg" style="max-height:400px;" />
        </div>
    </card>
</div>
<div class="border col-8">
    <card>
        <div class="card-body text-center">
            <h3 class="card-title">You are viewing @Model.Title</h3>
            <hr />
            <br />
            <p><b>Description:</b> @Model.Description)</p>
            <br />
            <p><b>In stock:</b> @Model.InStock</p>
            <br />
            <p><b>Brand:</b> @Model.BrandName | Price: <b>$</b>@Model.Price</p>
            <br />
            <p>
                <b>Types: </b> |
                @foreach (var type in Model.Types)
                {
                <b>#</b>@type.Type.Name  <span>|</span>
                }
            </p>
        </div>
    </card>
</div>